.navbar {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logotype {
    display: flex;
    align-items: center;

    > h2 {
      margin-left: 15px;
    }
  }

  .navbar-list {
    display: flex;
    &__item {
      margin-right: 130px;

      font-weight: 500;
      font-size: 25px;
      line-height: 30px;

      &:last-child {
        margin-right: 0;
      }
    };
  }

  .navbar-cart {

    cursor: pointer;
  }
}