.navbar {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logotype {
    display: flex;
    align-items: center;

    > h2 {
      margin-left: 15px;
    }
  }

  .navbar-list {
    display: flex;
    cursor: pointer;
    &__item {
      margin-right: 130px;

      font-weight: 500;
      font-size: 25px;
      line-height: 30px;

      &:last-child {
        margin-right: 0;
      }
    };

    &__mark {
      position: absolute;
      top: 100%;
      left: 100%;
      width: 25px;
      height: 25px;

      transform: translate(-100%, -100%);

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: red;
      border-radius: 100%;

      color: #f4f4f4;
    }
  }

  .navbar-cart {
    cursor: pointer;
    position: relative;
  }
}